{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/icon-title.png' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Heebo|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylept2.css' %}">
    <title>Login</title>
</head>

<body class="body-login">
    <h1 class="texto-login">Login</h1>
    <section class="section-login">
        <form class="formulario-login" method="post">
          {% csrf_token %}
            <div class="bloco-um1">
                <div class="circulo-logo1"><img class="logo-login1" src={% static 'img/logo-branco.png' %} alt=""></div>
            </div>

            <div class="bloco-dois2">
                <div class="email">
                    <img class ="img-login" src={% static 'img/login.png' %} alt="">
                    <div class="camp-log">
                    <label class="separador-login">Nome de Usuário</label>
                    {{ form.username }}
                </div>
                </div>

                <label class="separador-btn-login"></label>

                <div class="senha">
                    <img class ="img-login"src={% static 'img/password.png' %} alt="">
                    <div class="camp-log">
                    <label class="separador-login">Senha</label>
                    {{ form.password }}
                </div>
                </div>

                <label class="separador-btn-login"></label>
                <input class="botao-login" type="submit" value="Entrar">
            </div>
        </form>

    </section>
</body>

</html>
