
body{
    margin: 0;
    grid-template-areas:'nav nav nav nav'
    'header header header header'
    'sec    sec    sec    sec'
    'section  section  section  section'
    'footer footer footer footer';
    grid-auto-rows: 20vh 45vh 45vh 45vh 45vh 20vh;
    grid-auto-columns: 25% 25% 25% 25%;     
    /* flex-flow: column; */
    background-color: black;

}


.menu{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav{
    grid-area: nav;
    background-color: #d3e9f4;
    display: flex;
    justify-content: center;
}

.menu2{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #3a6da5; 
}
.loguinho{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo-pequeno{
    width: 150px;
    height: 100px;   
}

.img_logop{
    width: 50%;
}

header{
    grid-area: header;
    background-color: #d3e9f4;
    position: relative;
    text-align: center;
    margin: 0;
}

.header2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.senhora{
    width: 50%; 
}

.texto1{
    display: flex;
    color: #3a6da5; 
    align-items:center;
    font-size:25px;
    font-family: 'Heebo', sans-serif;
    width: 50%;
}

main{
    grid-area: sec;
    margin: 0;
    background-color: #f7fafc;
    color: #3a6da5;
}

.queremos1{
    display: flex;
    text-align: center;
}

.queremos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.saiba_como{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    width:200px;
    height:200px;
}
.como{
    width: 25%;
    align-items: center;
}

.onde{
    width: 25%;
    align-items: center;
}

.quem{
    width: 25%;
    align-items: center;
}

.ensina{
    width: 25%;
    align-items: center;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;    
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p{
    display: flex;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}

.text_grande{
    color:#3a6da5;
    font-size: 30px;
    text-align: center;

}

.linha{
    color:gray;
}

section{
    grid-area: section;
    background-color: #d3e9f4;
}

.voluntario1{
   margin: 0%;
}

.voluntario2{
    text-align: center;
}

.voluntario3{
    color:#3a6da5;
    display: flex;
    justify-content: space-between;

}
.text_volun{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    margin: 0%;

}

.button_volun{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50%;
    width: 50%;
    align-content: center;
}

.seja_voluntario{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    margin: 0%;
}

footer{
    background-color: #3a6da5;
    grid-area: footer;
}
.footer1{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 50%;
    
}

.footer2{
    color: #f7fafc;
}

.footer3{
    color:#f7fafc;
}
 .sociais{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 50%;
 }