
body{
    margin: 0;
    grid-template-areas:'nav nav nav nav'
    'header header header header'
    'sec    sec    sec    sec'
    'section  section  section  section'
    'footer footer footer footer';
    grid-auto-rows: 20vh 45vh 45vh 45vh 45vh 20vh;
    grid-auto-columns: 25% 25% 25% 25%;
    /* flex-flow: column; */
    background-color: black;

}


nav{
    grid-area: nav;
    background-color: #d3e9f4;
    display: flex;
    justify-content: center;
}

.menu{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50%; 
    padding: 7px 20px;
    text-decoration: none;
}

.menu2{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #3a6da5;
    font-weight: 600;
}
.menu2:hover{
    background-color: #3a6da5;
    color: #f7fafc;
    border-radius: 12px;
    height: 25px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}


.loguinho{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo-pequeno{
    width: 150px;
    height: 100px;
}

.img_logop{
    width: 50%;
}

header{
    grid-area: header;
    background-color: #d3e9f4;
    position: relative;
    text-align: center;
    margin: 0;
    height: 240px;
}
.imagem-header{
    width: 50%;
    display: block;
    justify-self: center;
    width:250px;
    height:250px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.733));
}
.header2{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.senhora{
    width: 50%;
    display: flex;
    justify-content:  flex-end;
    padding-right: 50px;
}

.texto1{
    display: flex;
    color: #3a6da5;
    align-items:center;
    font-size:25px;
    font-family: 'Heebo', sans-serif;
    width: 60%;
    padding-left: 60px;
}

main{
    grid-area: sec;
    margin: 0;
    background-color: #f7fafc;
    color: #3a6da5;
}

.queremos1{
    display: flex;
    text-align: center;
}

.queremos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.toda_inf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.saiba_como{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.imagem{
    width: 50%;
    display: block;
    justify-self: center;
    width:130px;
    height:130px;
    position: relative; left: 110px;
}
.como{
    width: 25%;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.onde{
    width: 25%;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.quem{
    width: 25%;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.ensina{
    width: 25%;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}

.text_grande{
    color:#3a6da5;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 70%;

}

.titulo-em-cima-da-linha{
    margin: 30px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}


.linha{
    color:gray;
    margin: 0;
    font-weight: 500;
}

.texto-linha{
    margin: 0px 0px 80px 0px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;

}

section{
    grid-area: section;
    background-color: #d3e9f4;
}

.Voluntario{
  margin-top: 0px;
  padding-top: 20px;
  color: #3a6da5;
}

.voluntario1{
   margin: 0%;
}

.voluntario2{
    text-align: center;
}

.voluntario3{
    align-items: center;
    color:#3a6da5;
    display: flex;
    justify-content: space-around;  
}

.text_volun{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    margin: 0%;
}

.btn{
    border: none;
    border-radius: 5%;
    box-shadow: 3px 3px 0 3px #132335;
    cursor: pointer;
    color: #d3e9f4;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 0.5em 12em;
    text-transform: uppercase;  
    width: 70%;
}

.btn_azul{
    border: none;
    background-color: #27486b;
    box-shadow: 0 5px 0 #192e44;
    border: none;
    display: inline-block;
    display: flex;
}

.btn_azul:hover{
    background-color: #3a6da5;
    box-shadow: 0 5px 0 #27486b;
    border: none;
    color: #d3e9f4;
}

.btn_azul,.menu2:active{
    border: none;
    box-shadow: none;   
    position:relative;
    top: 5px;
}


.seja_voluntario{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    align-items: center;
    margin: 0%;
    width: 60%;
}

.ft{
    background-color: #3a6da5;
    width: 100%;
    display: flex;
}
.footer1{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.footer2{
    color: #f7fafc;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

 .sociais{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
 }

.footer3{
    color: #f7fafc;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}
.saiba_texto{
    width: 330px;
    height: 150px;
    font-size: 16px;
}

.saiba_titulo{
    font-size: 22px;
    width: 330px;
}
