<!-- <h2>Sign up</h2>
<form method="post">

  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form> -->
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/icon-title.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/stylept2.css' %}">
    <title>Cadastre-se</title>
</head>

<body class="body-cadastro">
    <nav class="nav-cadastro">
        <div class="bloco-logo">
            <div class="circulo">
                <div class="circulo-logo-cadastro"><img class="logo-cadastro" src={% static 'img/logo-branco.png' %} alt=""></div>
            </div>

            <div class="link-voltar">
                <a class="link-pg-inicial" href="{% url 'index' %}">Voltar para a pagina inicial</a>
            </div>
        </div>
    </nav>
    <header class="header-cadastro">

        <div class="bloco-um">
            <div class="textos">
                <h1 class="texto-cadaste-se">Cadastre-se</h1>
                <p class="texto-pg-cadastro">Fazer o bem, que mal tem? Ser um voluntário envolve desempenhar atividades que vão impactar a vida de muitas pessoas que você talvez sequer conheça. Entre fazer nada e ser indiferente ou ter a possibilidade de fazer o mundo um lugar melhor, o que você escolhe?</p>
            </div>


            <form class="formulario-voluntario-cadastro" method="post">
                  {% csrf_token %}

                <label class="separador" for="">Nome de Usuario</label>
                {{ form.username }}
                <label class="separador" for="">E-mail</label>
                {{ form.email }}
                <label class="separador" for="">Telefone</label>
                {{ form.telefone }}
                <label class="separador" for="">Celular</label>
                {{ form.celular }}
                <label class="separador" for="">Gênero</label>
                {{ form.genero }}
                <label class="separador">Data de Nascimento</label>
                {{ form.data_nascimento }}
                <label class="separador">Endereço</label>
                {{ form.endereco }}
                <label class="separador">Numero</label>
                {{ form.numero }}
                <label class="separador">Complemento</label>
                {{ form.complemento }}
                <label class="separador">CEP</label>
                {{ form.cep }}
                <label class="separador">Bairro</label>
                {{ form.bairro }}
                <label class="separador">Cidade</label>
                {{ form.cidade }}
                <label class="separador">Estado</label>
                {{ form.estado }}
                <label class="separador">Disponibilidade</label>
                {{ form.disponibilidade }}
                <label class="separador">Escolaridade</label>
                {{ form.escolaridade }}
                <label class="separador">Por que ser voluntário?</label>
                {{ form.objetivo }}
                <label class="separador" for="">Digite sua senha</label>
                {{ form.password1 }}
                <label class="separador" for="">Confirme sua senha</label>
                {{ form.password2 }}

                <input class="botao-login" type="submit" value="Cadastrar">
            </form>
        </div>
    </header>

    <section class="section-cadastro">


    </section>
</body>

</html>
